h1 {
    color:rgba(55, 214, 214, 0.699);
}
h2 {
    color: rgba(238, 96, 96, 0.699);
}
html {background-color: rgb(114, 44, 180);
}
.lup {
    background-color:rgba(228, 228, 65, 0.658);
    font-size: 22px;
}